## Dictionary 
* collection of key-value pairs 
* Charecteristics:
    * mutable 
    * indexing has no meaning(you can't access data using indexing) 
    * keys can't be duplicate 
    * keys can't be mutable items

### Create Dictionary

In [2]:
# empty 
d = {}
print(type(d))

# 1d dict 
d1 = {"name": "Omkar", "Gender": "Male", "Age": 18}
print(d1)

d2 = {(1, 2, 3): 12, "name": "Omkar"}
print(d2)

# 2D dict 
d3 = {
    "name": "Omkar",
    "college": "PICT", 
    "sem": 8,
    "subjects": {
        "maths": 90,
        "Python": 98,
        "Django": 89
    }}
print(d3)

# using sequence and dict function  
d4 = dict([(1, 1), (2, 2), (3, 3)])
print(d4)

# you cannot use mutable types as keys 
d5 = {"name": "Omkar", [1, 2, 3]: 20}
print(d5)

<class 'dict'>
{'name': 'Omkar', 'Gender': 'Male', 'Age': 18}
{(1, 2, 3): 12, 'name': 'Omkar'}
{'name': 'Omkar', 'college': 'PICT', 'sem': 8, 'subjects': {'maths': 90, 'Python': 98, 'Django': 89}}
{1: 1, 2: 2, 3: 3}

TypeError: unhashable type: 'list'

### Accessing items 
* indexing not possible 
* accessing through keys 
* get()

In [3]:
dic = {"name": "Omkar", "age": 21} 
# dic["name"]

dic.get("name")

'Omkar'

### Adding key-value pair

In [4]:
dic["weight"] = 50
dic

{'name': 'Omkar', 'age': 21, 'weight': 50}

### Remove key-value pair 
* pop()
* popitem()
* del 
* clear()

In [5]:
print(dic)

# dic.pop("weight")

# dic.popitem() # deletes last key-value pair

# del dic["name"]

# dic.clear()

{'name': 'Omkar', 'age': 21, 'weight': 50}

### Editing key-value pair

In [9]:
print(d3)

d3['sem'] = 7
d3

{'name': 'Omkar', 'college': 'PICT', 'sem': 8, 'subjects': {'maths': 90, 'Python': 98, 'Django': 89}}

{'name': 'Omkar',
 'college': 'PICT',
 'sem': 7,
 'subjects': {'maths': 90, 'Python': 98, 'Django': 89}}

### Dictionary Operations 
* Membership 
* Iteration

In [11]:
"name" in d3

True

In [18]:
# for k, v in d3.items():
#     print(k,':',  v)

for i in d3:
    print(i, d3[i])

name Omkar
college PICT
sem 7
subjects {'maths': 90, 'Python': 98, 'Django': 89}

### Dictionary Functions 
* len()
* sorted(): sort the keys 
* min()
* max()
* items()
* keys()
* values()
* update()

In [23]:
d = {"name": "Omkar", "age": 21, "gender": "male"}
d

{'name': 'Omkar', 'age': 21, 'gender': 'male'}

In [27]:
print(len(d))

print(min(d))

print(max(d))

print(sorted(d))

print(d.items())

print(d.keys())

print(d.values())


# update() function 
d1 = {1: 2, 2: 3, 3: 4, 4: 5}
d2 = {10: 100, 4: 1000}

d1.update(d2)
print(d1)
print(d2)

3
age
name
['age', 'gender', 'name']
dict_items([('name', 'Omkar'), ('age', 21), ('gender', 'male')])
dict_keys(['name', 'age', 'gender'])
dict_values(['Omkar', 21, 'male'])
{1: 2, 2: 3, 3: 4, 4: 1000, 10: 100}
{10: 100, 4: 1000}

### Dictinary Comprehensions

In [33]:
distances = {"sangamner": 145, "pune": 120, "nagar": 110}
# using existing dict 
{i:j for i, j in distances.items()}

{'sangamner': 145, 'pune': 120, 'nagar': 110}

In [34]:
# using zip()
days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
temp = [23.4, 12, 83, 34.3, 45.5, 67, 50.6]

{i:j for (i, j) in zip(days, temp)}

{'Sunday': 23.4,
 'Monday': 12,
 'Tuesday': 83,
 'Wednesday': 34.3,
 'Thursday': 45.5,
 'Friday': 67,
 'Saturday': 50.6}

In [35]:
# using if condition 
dic = {'Sunday': 23.4,
 'Monday': 12,
 'Tuesday': 83,
 'Wednesday': 34.3,
 'Thursday': 45.5,
 'Friday': 67,
 'Saturday': 50.6}

# display days with temperature > 40
{day:temp for day, temp in dic.items() if temp>40}

{'Tuesday': 83, 'Thursday': 45.5, 'Friday': 67, 'Saturday': 50.6}