### Arrays Vs. Lists 
* Fixed size, Dynamic Size
* Homogenous Data, Heterogenous Data (since we are using referential array(storing the address, not the value))
* High Speed, Low Speed
* Occupy less memory, Occupy more memory

### Charecteristics of List
* Ordered - Order of items stored in list is important
* Changeable/Mutable - You can change the list 
* Heterogenous - You can add elements with multiple datatypes
* Can contain duplicates - list can contain duplicate elements
* Dynamic - lists are dynamic
* Nested - List can be nested (list within a list)
* Slicing/Indexing - items can be accessed using slicing operations
* You can add any type of object in list***
* Python list can store any kind of python object

### IMP Points 
* Dynamic Resizing:
    * Lists: Lists are naturally dynamic; you can add or remove elements without specifying the size beforehand. Appending elements to a list is straightforward and doesn't require any special considerations.
    * NumPy Arrays: While NumPy arrays can also be resized dynamically using methods like `np.append()`, the process involves creating a new array with increased size, copying the data from the old array to the new one, and adding the new element(s). This operation can be inefficient and result in increased memory usage and computational overhead compared to appending elements to a list.

* If you want to store anothe datatype element into np array you can do it by mentioning the dtype="dtype" in np.array("Omkar", dtype="str")


* `sort()`: sort() is a method that is available for lists in Python. It sorts the list in place, which means it modifies the original list and does not create a new one.
* `sorted()`: The sorted() function does not modify the original list, instead, it creates and returns a new list containing the sorted elements.


* Lists are risky to use, as the lists are mutable. You can change the content of lists. 

### IMP Questions
* **Que.1: What are lists in Python?**
    * List is a inbuilt data type in python where you can store multiple items under 1 name. More typically, lists act like dynamic array which means you can add more items on the fly.
    * Lists are mutable, meaning their contents can be modified after creation.
    
    
* **Que.2: How lists are stored in memory?**
    * Python lists are stored in memory as contiguous blocks of memory that holds references to the actual objects (elements) they contain. 
    * The array or contiguous memory where the references are stored are called ar referencing array.
    * This means that a Python list doesn't store the actual data of its elements directly but rather holds references (pointers) to the memory locations where the data for those elements is stored.
    * Consume more time and more memory. 
    
* **Que.3: How lists are stored in memory?**


* **Que.4: How lists are stored in memory?**


* **Que.5: How lists are stored in memory?**


* **Que.6: How lists are stored in memory?**


* **Que.7: How lists are stored in memory?**


* **Que.8: How lists are stored in memory?**


* **Que.9: How lists are stored in memory?**


* **Que.10: How lists are stored in memory?**

In [198]:
# You can add any type of object in list (freedom in Python)
l = [print, input, 1, True]
print(l)

[<built-in function print>, <bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x0000023610ECC7C0>>, 1, True]

In [6]:
l = [1, 2, 3]
print(id(1))
print(id(2))
print(id(3))
print(id(l[0]))
print(id(l[1]))
print(id(l[2]))

2431150063856
2431150063888
2431150063920
2431150063856
2431150063888
2431150063920

### Creating a List

In [20]:
# Empty 
L = []

# 1D list (Homogenous)
print([1, 2, 3, 4, 5, 6])

# 2D (Heterogenous)
print([1, 2, 3, 4, [5, 6]])

# 3D (Heterogenous)
print([1, 2, 3, 4, [[1, 2], [12, 34]]])

# 3D (Homogenous)***
print([[[2, 5], [6, 7]], [[7, 2], [34, 23]]])

# Heterogenous list: List with different datatype elements 
print([12, True, "Hello Omi Dada", 123.23, 5+6j])

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, [5, 6]]
[1, 2, 3, 4, [[1, 2], [12, 34]]]
[[[2, 5], [6, 7]], [[7, 2], [34, 23]]]
[12, True, 'Hello Omi Dada', 123.23, (5+6j)]

### Assessing the items from list

#### Indexing
* Positive Indexing (left->right)
* Negative Indexing (right->left)

In [21]:
# 1D
# L = [12, 12, 34, 45, 89, 90]
# L[-2]
# L[2]

# 2D
# L = [1, 2, 3, [4, 5]]
# L[3][0]

# 3D
# L = [[[1, 3], [5, 6], [8, 9]]]
# L[0][1][0]

# L = [[[-1, 0], [5, 3], [23, 12, 90]]]
# L[0][2][2]

L = [[[1, 3], [4, 6]], [[23, 1], [2, 4]]]
L[0][0][1]
# L[-1][0][1]

3

#### Slicing

In [22]:
L = [1, 2, 4, 5, 7, 9]
# fetching alternate items
L[0::2]

[1, 4, 7]

### Adding items to list
* append - adding item(single item at a time) at the end of list
* extend - adding multiple items at a time to a list
* insert - adding item at a specifinc position in a list

In [32]:
# append()
L = [1, 2, 23, 43]
L.append("Omkar Dada")
L

[1, 2, 23, 43, 'Omkar Dada']

In [33]:
# extend()
L.extend([12, "DML", "RR"])
# adds DLL as whole 
L.extend(["DLL"]) 

# Split the string and then adds to the list 
# L.extend("DLL")
print(L)

[1, 2, 23, 43, 'Omkar Dada', 12, 'DML', 'RR', 'DLL']

In [34]:
# insert()
L.insert(2, 100)
L

[1, 2, 100, 23, 43, 'Omkar Dada', 12, 'DML', 'RR', 'DLL']

### Editing items in a List

In [103]:
l = [12, 34, 45, 10, 19]

# editing using indexing 
l[-1] = 0

# editing using slicing
l[1:3] = [10, 20]
l

[12, 10, 20, 10, 0]

### Deleting items from a list
* del()
* remove()
* pop() 
* clear()

In [41]:
# del
l = [1, 2, 3, 8]
print(l)
# del l
del l[-1]
print(l)

[1, 2, 3, 8]
[1, 2, 3]

In [42]:
# remove(delete by value): used when you dont know where the element is (i.e when you dont know the index position of the element that you want do delete)
# direct pass the value you want to delete 
l.remove(3)
print(l)

[1, 2]

In [38]:
# pop() -> default index = -1 (deletes last wala element)
l.pop(1)

2

In [39]:
# clear() - deleting all items/making a list empty
l.clear()
l

[]

### Operations on Lists

* Arithmetic: Addition, Subtraction, Multiplication, Division 
* Membership: in/not in 
* Loop: Accessing elements through looping

In [43]:
l1 = [1, 2, 3, 4, 5]
l2 = [6, 7, 8, 9, 10]

# merging 
print(l1 + l2)
print(l1*2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [46]:
# Membership
l3 = [12, 34, 1, [4, 6]]
# 4 in l3
[4, 6] in l3

True

In [47]:
# loop
# for i in l3:
#     print(i)

l4 = [[[2, 4], [6, 7]], [[9, 3], [1, 4]]]

for i in l4:
    print(i)

[[2, 4], [6, 7]]
[[9, 3], [1, 4]]

### List Functions

In [161]:
# len/min/max/sorted
l = [1, 9, 5, 4, 7, 5, 7, 2, 7]
print(len(l))
print(min(l))
print(max(l))
print(sorted(l))

9
1
9
[1, 2, 4, 5, 5, 7, 7, 7, 9]

In [162]:
# count() - gives the frequency count of given item in a list
l.count(7)

3

In [163]:
# index()
l.index(1)

0

In [167]:
# reverse() - permanant operation
l.reverse()
print(l)

[1, 9, 5, 4, 7, 5, 7, 2, 7]

In [170]:
# sort() - permanant operation/changes  
l.sort()
print(l)

[1, 2, 4, 5, 5, 7, 7, 7, 9]

In [175]:
# sorted() - no permanant changes, creates new sorted list
sorted(l)

[1, 2, 4, 5, 5, 7, 7, 7, 9]

In [176]:
# copy()
l = [4, 12, 34, 12, 90]
print(l)
print(id(l))
l1 = l.copy()
print(l1)
print(id(l1))

[4, 12, 34, 12, 90]
2431264932032
[4, 12, 34, 12, 90]
2431264869760

### List Comprehension ***
- concise way of creating list/shortcut way to create list

**newlist = [expression for item in iterable if condition == True]**

In [178]:
# l = []
# for i in range(11):
#     l.append(i)
# print(l)

# list comprehension
l = [i for i in range(1, 11)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [181]:
# scalar multiplication with vector
l = [9, 1, 8]
s = -2

# res = []
# for i in l:
#     res.append(i*s)
# print(res)

# LC
res = [s*i for i in l]
print(res)

[-18, -2, -16]

In [185]:
# finding the square of each item
l = [2, 4, 6, 8]
# Iterative approach
# res = []
# for i in l:
#     res.append(i*i)
# print(res)

# LC
res = [i**2 for i in l]
print(res)

[4, 16, 36, 64]

In [187]:
res = [i for i in range(1, 51) if i%5==0]
print(res)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [189]:
languages = ["C", "C++", "Python", "PHP", "Java"]
[language for language in languages if language.startswith('P')]

['Python', 'PHP']

In [190]:
# cartesian product
l1 = [1, 2, 3, 4, 5]
l2 = [2, 3, 4, 7]

[i*j for i in l1 for j in l2]

[2, 3, 4, 7, 4, 6, 8, 14, 6, 9, 12, 21, 8, 12, 16, 28, 10, 15, 20, 35]

### Traversing List
* Two ways:
    * itemwise
    * indexwise

In [192]:
# itemwise
l = [2, 3, 4, 6, 7, 9]
for i in l:
    print(i)

2
3
4
6
7
9

In [194]:
# indexwise
for i in range(len(l)):
    print(i)
#     print(l[i])

0
1
2
3
4
5

### zip()

In [59]:
l1 = [2, 3, 12, 12, 2]
l2 = [1, 3, 4, 5, 9, 10]

list(zip(l1, l2))

[(2, 1), (3, 3), (12, 4), (12, 5), (2, 9)]

In [48]:
[i+j for i, j in zip(l1, l2)]

[7, 9, 11, 13, 15]

In [69]:
# Python can store any kind of object
li = [2, "Omkar", True, type, print, len]
print(li)

[2, 'Omkar', True, <class 'type'>, <built-in function print>, <built-in function len>]

### Practice Questions

In [70]:
# Find the first n prime numbers
def isPrime(num):
    if num<=1:
        return False 
    
    for i in range(2, num):
        if num%i == 0:
            return False 
    return True 

n = int(input("Enter a number: "))
res = []
for i in range(n+1):
    if isPrime(i):
        res.append(i) 
        
print(res)

Enter a number: 12
[2, 3, 5, 7, 11]

#### Que.1: Combine two lists index-wise(columns wise)
Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

list1 = ["M", "na", "i", "Kh"]

list2 = ["y", "me", "s", "an"]

In [73]:
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"] 

def add_lists(l1, l2):
    res = []
    for i, j in zip(l1, l2):
        res.append([i, j]) 
        
    return res 

print(add_lists(list1, list2))

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

#### Que.2: Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

ouput: [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [76]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(7000)

print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

#### Que. 3: Update no of items available
Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -

candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]

Write a program to show no. of items of each candy type.

In [81]:
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers'] 
no_of_items = [10,20,34,74,32]

for i, j in zip(candy_list, no_of_items):
    print(i, '-', j, end="\n")

Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74
Three Musketeers - 32

#### Que.4:  Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

Input:

list1 = [1,2,3,4,5,6]

Output:

[1,3,6,10,15,21]

In [82]:
def running_sum(l):
    res = []
    sum = 0
    
    for i in l:
        sum += i 
        res.append(sum) 
        
    return res 

print(running_sum([1,2,3,4,5,6]))

[1, 3, 6, 10, 15, 21]

#### Que.5: You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.
i.e. Say given list is [2,4,6,10,1] resultant list will be [22,20,10,23].

For 1st element 2 ->> these are greater (4+6+10) values and 2 itself so on adding becomes 22.

For 2nd element 4 ->> greater elements are (6, 10) and 4 itself, so on adding 20

like wise for all other elememts.

[2,4,6,10,1]-->[22,20,16,10,23]

In [106]:
def find_running_sum(l):
    res = [] 
    for i in range(len(l)):
        greater_sum = 0
        for j in range(len(l)):
            if l[j] > l[i]:
                greater_sum += l[j]
        res.append(l[i] + greater_sum)
    
    return res
    
print(find_running_sum([2, 4, 6, 10, 1]))

[22, 20, 16, 10, 23]

#### Que.6: Find list of common unique items from two list and show in increasing order
Input

num1 = [23,45,67,78,89,34]

num2 = [34,89,55,56,39,67]

Output:

[34, 67, 89]

In [113]:
def find_common_unique(l1, l2):
    l1 = set(l1)
    l2 = set(l2)
    
    res = l1.intersection(l2)
    return sorted(res) 

num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
print(find_common_unique(num1,num2))

[34, 67, 89]

#### Que. 7:  Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.
Input:

['1ac21', '23fg', '456', '098d','1','kls']

Output:

['456', '23fg', '1ac21', '1', 'kls', '098d']

#### Que.8: Write a list comprehension that can flatten a nested list
Input
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]

Output:
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [114]:
def flatten_list(l):
    return [element for sublist in l for element in sublist] 

print(flatten_list([ [1,2,3], [4,5,6], [7,8,9] ]))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Que.9: Write a list comprehension that can transpose a given matrix
matrix = 

[[1,2,3],

[4,5,6],

[7,8,9]]

Ouput:

[[1, 4, 7]

[2, 5, 8]

[3, 6, 9]]

In [124]:
matrix = [[1,2,3],

[4,5,6],

[7,8,9]]

def transpose_matrix(matrix):
    # using list comprehension 
    # return [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]
    
    # general approach 
    transpose = [] 
    for j in range(len(matrix[0])):
        # first transpose the columns into rows and then append 
        transpose_row = []
        for i in range(len(matrix)):
            transpose_row.append(matrix[i][j]) 
            
        transpose.append(transpose_row)
        
    return transpose

print(transpose_matrix(matrix))

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

#### Que.10: Write a list comprehension to print the following matrix
[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [130]:
matrix = [[i+j for j in range(3)] for i in range(0, 9, 3)]
matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]