## Tuples

### Creating Tuples

In [9]:
# Empty tuple 
t1 = ()
print(t1)

# Creating tuple with single element 
t2 = ("Omkar", )
print(type(t2))

# Important 
t2 = ("Omkar")
print(type(t2))

# Creating homogenous tuple 
t3 = (1, 2, 3, 4, 5)
print(t3)

# Creating 2d tuple 
t4 = (1, 2, 3, (4, 5))
print(t4)

# using type conversion 
t5 = tuple("Omkar")
print(t5)

()
<class 'tuple'>
<class 'str'>
(1, 2, 3, 4, 5)
(1, 2, 3, (4, 5))
('O', 'm', 'k', 'a', 'r')

### Acessing Items (same as list)
* Using Indexing 
* Using Slicing

In [11]:
t = (1, 2, 3, 4, 5)
print(t)
print(t[3])
print(t[-2])
print(t[::-1])

(1, 2, 3, 4, 5)
4
4
(5, 4, 3, 2, 1)

### Editing Items 
* Tuples are immutable

In [14]:
t[0] = 12

TypeError: 'tuple' object does not support item assignment

### Adding Items
* Tuples are immutable. You cannot add the elements to tuple.

### Deleting Items 
* You can delete an entire tuple, not the portion of the tuple

In [17]:
t = (1, 2, 3, 4, 5)
del t
print(t)

NameError: name 't' is not defined

### Operations on Tuples
* Arithmetic (Addition and Multiplication)
* Membership
* Loop

In [26]:
t1 = (1, 2, 3, 4)
t2 = (5, 6, 7, 8)

# Addition (Merging)
print(t1+t2)
print(t2*4)

# Membership 
print(4 in t1)

# Loop 
for i in t1:
    print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(5, 6, 7, 8, 5, 6, 7, 8, 5, 6, 7, 8, 5, 6, 7, 8)
True
1
2
3
4

### Tuple functions 
* len()
* sum()
* min()
* max()
* sorted()
* count()
* index(): gives the index of the element

### Difference between Lists and Tuples 
* Immutable data types are faster in comparison to mutable data types 
* tuples are mutable 
* tuples are memory efficient 
* lists gives more inbuilt functions as compared to tuples
* Tuples are error prone(immutable)
* Why to use tuples instead to lists?
    * Immutability of tuples 
    * use tuples where applications are more read only 
    * use lists where applications are write only (user making frequent changes)

### Special Syntax
* Tuple unpacking

In [30]:
a, b, c = (1, 2, 3)
print(a, b, c)

1 2 3

In [32]:
a, b, *others = (1, 2, 3, 4, 5)
print(a, b)
print(others)

1 2
[3, 4, 5]

### Zipping in Tuples

In [38]:
a = (1, 2, 3, 4)
b = (4, 5, 6, 7)

print(tuple(zip(a, b)))
print(list(zip(a, b)))

((1, 4), (2, 5), (3, 6), (4, 7))
[(1, 4), (2, 5), (3, 6), (4, 7)]

### Sets
* A set in Python is an unordered collection of unique elements. It is defined by enclosing elements within curly braces {} or by using the set() constructor. 
* Sets do not allow duplicate elements.
* Sets differ from lists in that they are unordered and do not allow duplicates.

In [1]:
# t = {1, 2, True, (1,), (True,), (1, True)}

In [1]:
t = {1, 2 , (1,), True, (1, True), (True,)}
t

{(1, True), (1,), 1, 2}

In [2]:
t1 = {(True,), True, 1}
t1

{(True,), True}

In [3]:
# order doesn't matter 
s1 = {1, 2, 3, 4}
s2 = {2, 3, 1, 4}

print(s1 == s2)

True

In [4]:
# hashing controls the index position (can'á¹­ access the elements by index position in sets)

### Set Operations

In [5]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

# Union()
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [6]:
# intersection 
s1 & s2

{4, 5}

In [7]:
s1 - s2

{1, 2, 3}

In [8]:
s2 - s1

{6, 7, 8}

In [9]:
# symmetric differnce (common la sodun baki sagle)
s1 ^ s2

{1, 2, 3, 6, 7, 8}

In [10]:
# membership test 
# 1 in s1
1 in s2

False

In [11]:
# Iteration (loops)
for i in s1:
    print(i)

1
2
3
4
5

### Set Functions

In [12]:
len(s1)

5

In [13]:
sum(s1)

15

In [14]:
min(s1)

1

In [15]:
max(s2)

8

In [16]:
sorted(s1, reverse=True) # result in list

[5, 4, 3, 2, 1]

In [17]:
# union
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [18]:
# update(): union result in s1 and s2 remains same 
s1.update(s2)

In [19]:
s1

{1, 2, 3, 4, 5, 6, 7, 8}

In [20]:
s2

{4, 5, 6, 7, 8}

In [21]:
# intersection()
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}
s1.intersection(s2)

{4, 5}

In [22]:
s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [23]:
# difference()/difference_update()
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}
s1.difference(s2)

{1, 2, 3}

In [24]:
s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [25]:
# symmetric_differnce()/symmetric_difference_update()
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [26]:
s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [27]:
# isdisjoint()/issubset()/issuperset()

# no items are common in disjoint sets 
s1 = {1, 2, 3, 4}
s2 = {9, 10, 5, 6}

s1.isdisjoint(s2)

True

In [28]:
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5}
s2.issubset(s1)

True

In [29]:
s1 = {1, 2, 3, 4, 5, 6}
s2 = {4, 5, 6}
s1.issuperset(s2)

True

In [30]:
# copy()
s1 = {1, 2, 3, 4, 5, 6}
s2 = s1.copy()

print(id(s1))
print(id(s2))

2181211664480
2181211665600

### Frozenset 
* immutable version of Python set object
* works => all read operations 
* does not works => write operations

In [37]:
# create frozenset 
# s1 = frozenset({1, 2, 3, 4})
s1 = frozenset((1, 2, 3, 5))
# s2 = frozenset([1, 2, 3, 4, 5])
s1

frozenset({1, 2, 3, 5})

In [43]:
fs = frozenset((1, 5, frozenset((2, 3, 4, 7))))
print(fs)

frozenset({1, frozenset({2, 3, 4, 7}), 5})

### Set Comprehension

In [45]:
{i for i in range(1, 11) if i >= 5}

{5, 6, 7, 8, 9, 10}

In [47]:
print([]*3)

[]